<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
  <%= form.text_field :amount, placeholder: "0.0" %>
  </div>
  
  <div class="selector">
  <%= form.label :group_id %>
    <%= form.collection_select :group_id, Group.all, :id, :name %>
</div>

  <div class="add-t-container">
    <%= form.submit 'SAVE', class: "add-transaction"%>
  </div>
<% end %>
