<!DOCTYPE html>
<html>
  <head>
    <title>Mybudgetapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home_body", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home_nav", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "groups.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>  
  <% end %>
  <nav class="nav_menu">
  <% if user_signed_in? %> 
  <%= render 'home/home_signed_in' %>
  <div>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
  </div>
  <% else %>

  <%= render 'home/home' %>
  <div>
  <%= link_to 'Log In', new_user_session_path  %>
  </div>
  <div>
  <%= link_to 'Sign Up', new_user_registration_path %>
  </div>  
  <% end %>
  </nav>
    <%= yield %>    
  </body>
  <footer>
  <div class="div_footer">
  <p class="mgr_0">© 2023 Mybudgetapp</p>
  </div>
  </footer>  
</html>
