<!DOCTYPE html>
<html>
  <head>
    <title>Mybudgetapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "login", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "groups", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "payments", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body> 
    <%= yield %>
  </body>
</html>
